@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Default background for dark mode */
    --foreground: #171717; /* Default text color for dark mode */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* This rule ensures that when no specific color is given for bg or text, the default is applied */
body:not([style*="background"]):not([style*="color"]) {
  color: #171717; /* Default text color */
  background: #ffffff; /* Default background */
}
